.Wrapper
  .Header
  = render partial: 'devise/shared/side_bar'

  .Chat-main
    .Main-header
      .Main-header_left-box
        %h2.Main-header__left-box__current-group{data: {group_id: @group.id}}
          = @group.name
        %ul.Main-header__left-box__member-list 
          member:
          - @group.users.each do |user|
            = user.name



    .Messages
      = render @messages  #= render partial: 'message', collection: @messagesの略、correctionは繰り返し表示の意味

          
    .Form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'Form__text', placeholder: 'type a message'
        %label.Form__mask
          = f.label :image, class: 'form__mask__image', for:'sample' do
            = fa_icon 'picture-o', class: 'Form__mask__image__icon'
            = f.file_field :image, class: 'Form__mask__image__hidden', id: 'sample'
        = f.submit 'Send', class: 'Form__submit'
